{% extends 'base.admin.html.twig' %}


{% block change %}
    <h1>FactureDetaille index</h1>

    <table class="table">

        <thead>

        <tr>

            <th> Produit  Name </th>
            <th>ss</th>
            <th>Quantite Expedie</th>

        </tr>

        </thead>








        <tbody>

        {% for facture_detaille in facture_detailles %}
            <tr>
                <td>
                    <div style="color: purple;" >

                        <h4>Name Societe: {{  facture_detaille.getRefPrincipale }}</h4>

                    </div>
                </td>
            </tr>

            <tr>

                <td>{{  facture_detaille.produitName }}  </td>
                <td>{{ facture_detaille.pu }}</td>
                <td>{{  facture_detaille.qteExpedie }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
