{% extends 'base.admin.html.twig' %}


{% block change %}
    <h1>Export</h1>

{% for societee in societe %}
        <h5>Societe Name: {{ societee.name }}</h5>
    <table class="table">

        <thead>

        <tr>

            <th> Produit  Name </th>
            <th>ss</th>
            <th>Quantite Expedie</th>

        </tr>

        </thead>

        <tbody>
        {% for facture_detaille in facture_detailles %}

            {% if  facture_detaille.getRefPrincipale == societee.name %}
            <tr>

                <td>{{  facture_detaille.produitName }}  </td>
                <td>{{ facture_detaille.pu }}</td>
                <td>{{  facture_detaille.qteExpedie }}</td>

            </tr>
            {% endif %}
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endfor %}
{% endblock %}
