{% extends 'base.admin.html.twig' %}



{% block change %}
    <h1>Edit Produit</h1>
    <div style="text-align: center;">

        {{ include('colisage/_form.html.twig', {'button_label': 'Update'}) }}
    </div>
    <a href="{{ path('app_colisage_index') }}">back to list</a>

{% endblock %}
